body{
    margin:0;
}
canvas{
    display:block;
}

#custom-cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    background-image: url('../media/images/noun-cursor-1010278.png');
    background-size: cover;
    pointer-events: none;
}

#hello{
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-15%);
    color: blue;
}
